<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
  <tr>
    <th scope="row"><a href="/admin_alert_add">alert add</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/alert_view">Alertview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_camp_view">Campview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_don_view">Donview</a></th>
    </tr>

  <tr>
    <th scope="row"><a href="/admin_msg_add">msgadd</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_msg_view">msgview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_prc_addd">precautionadd</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_prc_view">precautionview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_subadmin_add">subadminadd</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_subadmin_view">subadminview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_vol_view">volunteerview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_whether_add">whetheradd</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/admin_whether_view">whetherview</a></th>
    </tr>
</table>
</form>
</body>
</html>
