{% extends 'admin/customindex.html' %}

{% block body %}

<form action="/subadd_post" method="post"><table class="table table-bordered">
     {% csrf_token %}
  <tr>
    <th scope="row" width="128">Name</th>
    <td width="168">
      <input type="text" name="textfield" id="textfield"required /></td>
  </tr>
     <tr>
    <th scope="row">Place</th>
    <td>
      <input type="text" name="textfield4" id="textfield4"required /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>
      <input type="email" name="textfield2" id="textfield2"required /></td>
  </tr>
  <tr>
    <th scope="row">Phone number</th>
    <td>
      <input type="number" name="textfield3" id="textfield3"required maxlength="10" /></td>
  </tr>

  <tr>
    <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="ADD" /></div> </th>
    </tr>
</table>
</form>
{% endblock %}
