{% extends 'subadmin/subcustomindex.html' %}

{% block body %}

<form action="/chpass_post" method="post"><table class="table table-bordered">
    {% csrf_token %}
  <tr>
    <th scope="row">Current Password</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"required /></td>
  </tr>
  <tr>
    <th scope="row">New Password</th>
    <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2"required /></td>
  </tr>
  <tr>
    <th scope="row">Confirm Password</th>
    <td><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3"required /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="Submit" /></div> </th>
    </tr>
</table>
</form>
{% endblock %}
