<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
  <tr>
    <th scope="row"><a href="/sa_campadd">camp add</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/subadmin_campview">campview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/sa_voladd">volunteeradd</a></th>
    </tr>


  <tr>
    <th scope="row"><a href="/sa_msgadd">emgmsgadd</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/subadmin_msgaddview">emgmsgview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/subadmin_cmplrplyview">view complaints and rply</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/subadmin_feedbackview">feedbackview</a></th>
    </tr>
  <tr>
    <th scope="row"><a href="/subadmin_chpass">changepassword</a></th>
    </tr>
     <tr>
    <th scope="row"><a href="/sa_alert_view">alert view</a></th>
    </tr>
    <tr>
    <th scope="row"><a href="/vol_userdb_view">db view</a></th>
    </tr>

</table>
</form>
</body>
</html>
