{% extends 'subadmin/subcustomindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">#</th>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Manage</td>
  </tr>
        {% for i in data %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ i.Volunteer.name }}</td>
    <td>&nbsp;{{ i.Volunteer.email }}</td>
    <td>{{ i.Volunteer.phone }}</td>
    <td>
      <p><a href="/sub_vol_dlt/{{ i.id }}">Remove allocation</a></p></td>
  </tr>
     {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}