{% extends 'subadmin/subcustomindex.html' %}
{% block body %}
<form action="" method="post"><table class="table table-bordered">
  <tr>
    <th scope="row">#</th>
    <td>City</td>
    <td>Weather</td>
    <td>Temparature</td>
    <td>Pressure</td>
    <td>Humidity</td>
    <td>Description</td>
  </tr>
     {% for i in data %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ i.city }}</td>
    <td>{{ i.weather }}</td>
    <td>{{ i.temp }}</td>
    <td>{{ i.pressure }}</td>
    <td>{{ i.humidity }}</td>
    <td>{{ i.description }}</td>
  </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
